---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs", ({ data }) => !data.draft);
  return blogs.map((blog) => ({
    params: { title: blog.data.title },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { data } = blog;
const { Content } = await render(blog);
---

<BaseLayout title={data.title}>
  <article class="lyear-arc">
    <div class="arc-header">
      <h2 class="arc-title">
        {data.title}
      </h2>
      <ul class="arc-meta">
        <li><i>📅</i> {formatDate(data.date)}</li>
        {
          data.keywords && (
            <li>
              <main data-pagefind-body>🏷️ {data.keywords}</main>
            </li>
          )
        }
      </ul>
    </div>

    <div class="lyear-arc-detail">
      <Content />
    </div>
  </article>
</BaseLayout>
