---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found">
  <article class="lyear-arc">
    <div class="arc-header">
      <h2 class="arc-title">你迷路啦！</h2>
    </div>
  </article>
</BaseLayout>
