---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="关于我" showSidebar={false}>
  <article>
    <div class="lyear-arc-detail">
      <h1>关于我</h1>
      <p>我就职于某个小公司，只是个桌面运维。</p>
      <p>本站使用Astro框架构建，记录有意思的东西。</p>
    </div>
  </article>
</BaseLayout>

<style></style>
