---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import { PAGE_SIZE } from "../lib/constants";
import Pagination from "../components/Pagination.astro";

const allBlogs = await getCollection("blogs", ({ data }) => !data.draft);
const sortedBlogs = allBlogs.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const totalPages = Math.ceil(sortedBlogs.length / PAGE_SIZE);
const pageBlogs = sortedBlogs.slice(0, PAGE_SIZE);
---

<BaseLayout title="首页">
  {
    pageBlogs.length === 0 ? (
      <div class="empty-state">
        <p>暂无文章</p>
      </div>
    ) : (
      pageBlogs.map((blog: any) => <ArticleCard blog={blog} />)
    )
  }

  <Pagination currentPage={1} totalPages={totalPages} />
</BaseLayout>
