---
import { formatDate } from "../lib/utils";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blogs", ({ data }) => !data.draft);
const hotPosts = allPosts
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<style>
  .icp-list {
    display: flex;
    align-items: center;
  }
</style>

<div class="lyear-bottombar">
  <!-- <aside class="widget widget-hot-blogs">
      <div class="widget-title">热门文章</div>
      <ul>
        {hotPosts.map((post) => (
          <li>
            <a href={`/${post.id}`}>{post.data.title}</a>
            <span>{formatDate(post.data.date)}</span>
          </li>
        ))}
      </ul>
    </aside> -->

  <aside class="widget">
    <div class="icp-list">
      <img src="/images/ba.png" alt="备案" />
      <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">
        粤ICP备2021084043号
      </a>
      &emsp;
      <a
        href="http://www.beian.gov.cn/portal/recordQuery"
        target="_blank"
        rel="noopener"
      >
        备案号44011102002838
      </a>
    </div>
  </aside>
</div>
