---
const { currentPage, totalPages } = Astro.props;
---

<div class="pagination-container">
  <ul class="pagination">
    <li class={`page-item disabled`}>
      <a class="page-link" href={`/1`}>首页</a>
    </li>

    {
      Array.from({ length: totalPages })
        .keys()
        .map((i, index) => (
          <li
            class={`page-item ${i + 1 === currentPage ? "active" : ""} ${typeof i === "string" ? "ellipsis" : ""}`}
          >
            <a class="page-link" href={`/${i + 1}`}>
              {i + 1}
            </a>
          </li>
        ))
    }

    <li class={`page-item disabled`}>
      <a class="page-link" href={`/${totalPages}`}>尾页</a>
    </li>
  </ul>
</div>
