---
import Header from "../components/Header.astro";
import Bottombar from "../components/Bottombar.astro";
import "../styles/global.css";

const { title } = Astro.props;
const pageTitle = title ? `${title}` : "N的小屋";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{pageTitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="nikiss" />
    <meta name="description" content="nikiss的个人博客" />
    <meta name="author" content="nikiss" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <Header pageTitle={pageTitle} />
    <div class="lyear-wrapper">
      <section>
        <div class="container">
          <div class="lyear-article">
            <slot />
          </div>
        </div>
      </section>
    </div>
    <Bottombar />
  </body>
</html>

<script>
  const toggler = document.querySelector(".navbar-toggler");
  const nav = document.querySelector("#navigation");
  if (toggler && nav) {
    toggler.addEventListener("click", () => {
      nav.classList.toggle("show");
      toggler.querySelector(".lyear-hamburger")?.classList.toggle("is-active");
    });
  }
</script>
