---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import { PAGE_SIZE } from "../../lib/constants";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: (
    data: any[],
    options: { pageSize: number },
  ) => { params: { page: number }; props: { page: any } }[];
}) {
  // 获取所有文章
  const allBlogs = await getCollection("blogs", ({ data }) => !data.draft);
  // 对文章按时间倒序排序
  const sortedBlogs = allBlogs.sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
  );

  // 根据宇航员数组生成页面，每页2项
  return paginate(sortedBlogs, { pageSize: PAGE_SIZE });
}
// 所有分页数据都在 "page" 参数中传递
const { page } = Astro.props;
---

<BaseLayout title={`第 ${page.currentPage} 页` || undefined}>
  {
    page.data.length === 0 ? (
      <div class="empty-state">
        <p>暂无文章</p>
      </div>
    ) : (
      page.data.map((blog: any) => <ArticleCard blog={blog} />)
    )
  }

  <Pagination
    currentPage={page.currentPage}
    totalPages={Math.ceil(page.total / PAGE_SIZE)}
  />
</BaseLayout>
